.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/images/passenger-airplane-landing.jpg");
}

.form {
    width: 80%;
    margin-bottom: 3%;
}

mat-icon {
    margin-left: -10px !important;
}

.flight-search {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #fff;
}

.search-button-row {
    display: flex;
    margin-top: -28px;
    justify-content: center;
}

.search-button {
    width: 200px;
    height: 72px;
    color: black;
    background: rgb(252, 205, 3);
}

mat-form-field {
    width: 24%;
    margin: auto;
    font-size: 24px;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.flights {
    width: 70%;
    margin-top: 10px;
}

.placeholder {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: lightgray;
}
